# Bonus: Temperature Analysis I

In [14]:
import pandas as pd
from datetime import datetime as dt

In [15]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [16]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'])

In [17]:
# add month column for later
df['month']=df['date'].dt.month
df.head()

       station       date  prcp  tobs  month
0  USC00519397 2010-01-01  0.08    65      1
1  USC00519397 2010-01-02  0.00    63      1
2  USC00519397 2010-01-03  0.00    74      1
3  USC00519397 2010-01-04  0.00    76      1
4  USC00519397 2010-01-06   NaN    73      1

In [11]:
# Set the date column as the DataFrame index
# Drop the date column
df.set_index('date', inplace=True)
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

### Compare June and December data across all years

In [12]:
from scipy import stats

In [19]:
# Filter data for desired months
filtered_df = df.loc[(df['month'] == 6) |
                    (df['month'] == 12)]
filtered_df.head()

         station       date  prcp  tobs  month
133  USC00519397 2010-06-01  0.00    78      6
134  USC00519397 2010-06-02  0.01    76      6
135  USC00519397 2010-06-03  0.00    78      6
136  USC00519397 2010-06-04  0.00    76      6
137  USC00519397 2010-06-05  0.00    77      6

In [42]:
# Identify the average temperature for June
# get averages for each month
avg_temps = filtered_df.groupby('month')['tobs'].mean()

avg_temp_df = pd.DataFrame({'month': [6, 12],
                           'avg_temp': avg_temps})
avg_temp_df.reset_index(drop=True, inplace=True)

avg_june = avg_temp_df.loc[avg_temp_df['month'] == 6, 'avg_temp']
print(f"The average temperature for June is {round(avg_june[0],2)}.")

The average temperature for June is 74.94.

In [55]:
filtered_df.groupby('month').count()

       station  date  prcp  tobs
month
6         1700  1700  1574  1700
12        1517  1517  1405  1517

In [50]:
# Identify the average temperature for December

avg_dec = avg_temp_df.loc[avg_temp_df['month'] == 12, 'avg_temp']
print(f"The average temperature for December is {round(avg_dec[1],2)}.")

The average temperature for December is 71.04.

In [53]:
# Create collections of temperature data
june_temps = filtered_df.groupby('month').get_group(6)['tobs']
dec_temps = filtered_df.groupby('month').get_group(12)['tobs']

In [56]:
# Run unpaired t-test
stats.ttest_ind(june_temps, dec_temps)

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

### Analysis

I ran an unpaired t-test because the number of observations for june and december were different.

The result of the t-test is that we reject the null hypothesis that the average temperature in June and December are equal. This makes sense due to the fact that June is in the summer, so is therefore hotter than December, which is in the winter.